@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #1d1e1f 1.84%, #14182702 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #181b1f00 -13.86%, #191716 99.55%);
  
  --color-bg: #eceef2;
  --color-footer : #42464a;
  --color-blog: #747474;
  --color-text: #181a1c;
  --color-subtext: #272221;
}